* {
    margin: 0;
    padding: 0;
  }
  
  body, html {
    height: 100%;
    width: 100%;
  }
  
  .hero {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
  }
  
  .hero::before {
    background-image: url("library.jpg");
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  
  .flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  /*.hero-message {
    text-shadow: #343a40 1.0px 1.0px;
    font-size: 1.5rem;
    /* position: relative;
  }
  
  .hero-title {
    margin-top: 0px;
    margin-bottom: 70px;
  }*/
  
  header {
    background-color: rgba(200, 200, 200, 0.5);
    background-image: url("library.jpg");
    height: 100%;
    size: cover;
    margin-bottom: 0px;
    background-size: cover;
    color: black;
    opacity: 0.2;
  }
  
  div h1, h3 {
    opacity: 1.0;
  }
  
  table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  