h1 {
    color: white;
    font-family:"Impact";
    text-align: center;
}
h2 {
    color: white;
    font-family:"Impact";
    text-align: center;
}

h3 {
    color: white;
    font-family:"Impact";
    text-align: center;
}