<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Campus Connection 📚</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
 
  <!-- <header id="landing" style="text-align: center">
    <div>
      <h1>Campus Connection</h1>
      <h3>Find your next study buddy!</h3>
    <a href="{{ url_for('login') }}">
      <button>
        Login
      </button>
    </a>
    <a href="{{ url_for('register') }}">
      <button>
        Register
      </button>
    </a>
    </div>
  </header> -->

  <div class="hero flex-center">
      <h1 class="hero-title">Campus Connection 📚</h1>
      <h2 class="hero-sub-title">Find your next study buddy!</h2>
  </div>


    <div class="container">
        <div class="row">
          <div class="col-md-12 col-md-offset-0 colorlib-heading text-center">
          <br><br>
            <h2>what is campus connection?</h2>
            <p>a study-buddy pairing web app <br>
            for when you want to get to know someone new<br>
            for when you're a freshman eager to meet new faces<br>
            ................. add more later</p>
          </div>
        </div>
      </div>

      <hr>

      <div class="container">
          <div class="row">
            <div class="col-md-12 col-md-offset-0 colorlib-heading text-center">
            <br><br>
              <h2>why campus connection?</h2>
              <p>it is simple ...<br>
              it is simple ...<br>
              it is simple ...<br>
              ................. add more later</p>
           </div>
         </div>
       </div>

 
    <h1 style="text-align: center">Welcome, {{username}}!</h1>
 

  </body>
</html>
