<html>
<style>
	h1 {
		color: white;
		font-family:"Impact";
		text-align: center;
	}
	h2 {
		color: white;
		font-family:"Impact";
		text-align: center;
	}
	
	h3 {
		color: white;
		font-family:"Impact";
		text-align: center;
	}
</style>
<body style="background-color:#aa80ff">
	
	<h2>Now sign in to be redirected to the symptoms page!</h2>
	<h3>Login</h3>
			<form action="symptoms.html">
				User name: <input type="text" name="user"><br>
				Password: <input type="password" name="pass"><br>
			<input type="submit" value="Log in">
			</form>
</body>
</html>	