<html>
	<head>
		<title>Technica 2018</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>


	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
				<header id="header" class="alt" style="background-color:#00000067">
						<b><a href="http://gotechnica.org">TECHNICA 2018</a></b>
						<b>&nbsp;&nbsp;&nbsp;<a href="about.html">ABOUT</a></b>
						<b>&nbsp;&nbsp;&nbsp;<a href="team.html">TEAM</a></b>
						<nav>
							<a href="#menu">Join Us</a>
						</nav>
					</header>

				<!-- Menu -->

					<nav id="menu">
						<div class="inner">
							<h2>Join Us</h2>
							<ul class="links">
								<li><a href="login.html">Log In</a></li>
								<li><a href="register.html">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>HEALTH MATTERS IS ...</h2>
								<p>INNOVATIVE, USER FRIENDLY, REVOLUTIONIZING</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									<h3 class="major">WHAT, WHY, HOW</h3>
									<p>“Health Matters” provides a user with personalized preventative measures based on their age, sex, and/or pregnancy status. Our tool supplies users and doctors with pertinent factors connected to common preventative diseases.</p>

									<p>According to the CDC, preventative care can save over 100,000 lives each year. Additionally, lifestyles can be improved and treatments work best when illnesses are detected earlier. Using our hack “Health Matters”, users can obtain personalized recommendations about clinical preventative measures tailored to his/her age, sex, and/or pregnancy status.</p>
									
									<p>Through the power of analytics and machine learning (ML), patient data with common preventable disease such as diabetes and heart disease can be better understood. Implementation of ML algorithms such as knn, linear regression, random forest, and lasso regression can provide value clinical insights that can aid users towards healthier lifestyles.	</p>
										

							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Technologies used</h2>
									<p>The following are the technologies we used to implement our project, what they are and how we used them in our project.</p>
									<section class="features">
										<article>
											<a href="#" class="image"><img src="../images/tech_imgs/healthfinder.jpg" alt="" /></a>
											<h3 class="major">Healthfinder API</h3>
											<p>The team at Health Matters used the HealthFinder API, which provides a list of possible diseases to look out for on the basis of age and gender. We used this API to display a list of possible diseases for the user.</p>
										</article>
										<article>
												<a href="#" class="image"><img src="../images/tech_imgs/ML.jpg" alt="" /></a>
											<h3 class="major">ML Algorithms</h3>
											<p>Machine Learning algorithms including logical regression, random forest and k nearest neighbors are utilized in our Implementation. The team used these methods to train the dataset provided by the HealthFinder API and come up with results that indicate the accuracy of diabetes diagnosis. Health Matters predicts key important factors of diabetes.</p>
										</article>
										<article>
												<a href="#" class="image"><img src="../images/tech_imgs/NumPy.jpg" alt="" /></a>
											<h3 class="major">Python Packages</h3>
											<p>The team used the NumPy, Pandas, matplotlib, scikit-learn libraries to implement ML algorithms and visualize the opioid prescription rates.</p>
										</article>
										<article>
												<a href="#" class="image"><img src="../images/tech_imgs/htmlcssjava.jpg" alt="" /></a>
											<h3 class="major">Front-end Technologies and JS</h3>
											<p>HTML/CSS/Bootstrap was used throughout the project as the ‘front end’ of the website where we displayed the outputs of machine learning and helped users further diagnose themselves. Javascript was used for adding actions to our HTML pages and making them into actual websites.	</p>
										</article>
									</section>
								</div>
							</section>

								</div>
							</div>

					</section>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>
