<html>
<style>
	h1 {
		color: white;
		font-family:"Impact";
		text-align: center;
	}
	h2 {
		color: white;
		font-family:"Impact";
		text-align: center;
	}
	
	h3 {
		color: white;
		font-family:"Impact";
		text-align: center;
	}
</style>
<body style="background-color:#aa80ff">
	<h1>Thank you for making an appointment with us!</h1>
	<h2>Please select a specialist from the list below:</h2>
	<br>
	<br>
	<br>
	<h2>Enter a time that works for you!</h2>
	<form action="confirmation.html">
			Month: <input type="month" name="month"><br>
			Date: <input type="date" name="date"><br>
			Time: <input type="time" name="time"><br>
			<a href="confirmation.html"><input type="submit" value="Submit"></a>
	</form>
</body>
</html>