<html>
<style>
	h1 {
		color: white;
		font-family:"Impact";
		text-align: center;
	}
	
	h2 {
		color: white;
		font-family:"Impact";
		text-align: center;
	}
	
	h3 {
		color: white;
		font-family:"Impact";
		text-align: center;
	}
</style>
<body style="background-color:#aa80ff">
	<h1>WELCOME</h1>
	<h2>dkj</h2>
	<h3>jsh</h3>
			<form action="registration.html">
				<input type="Submit" value="Register">
			</form>
			<form action="login_page.html">
				<input type="Submit" value="Log in">
			</form>
</body>
</html>	