<html>
	<head>
		<title>Technica 2018</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>


	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt" style="background-color:#00000067">
						<b><a href="http://gotechnica.org">TECHNICA 2018</a></b>
						<b>&nbsp;&nbsp;&nbsp;<a href="about.html">ABOUT</a></b>
						<b>&nbsp;&nbsp;&nbsp;<a href="team.html">TEAM</a></b>
						<nav>
							<a href="index.html">Logout</a>
						</nav>
					</header>

				<!-- Menu -->

					<nav id="menu">
						<div class="inner">
							<h2>Join Us</h2>
							<ul class="links">
								<li><a href="login.html">Log In</a></li>
								<li><a href="register.html">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
                    </nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>KNOW YOUR DISEASE</h2>
								<p>Understand common disease diagnosis and important risk and causative factors</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">
										<section>
												<h3 class="major">Diabetes Dataset taken from Healthcare AI</h3>
												<p>
													
												</p>
										</section>
									<section>
										<h3 class="major">Methods of Machine Learning Employed</h3>
                                        <p>Health Matters includes the implementation of the <b>KNN Algorithm</b>. The KNN Algorithm is one of the most common classification algorithms was implemented using a database in which the data points were separated into several classes to predict the classification of a new sample point. 
                                            Some accuracy metrics we achieved include an <b>ROC AUC of 0.72</b> and <b>PR AUC = 0.41</b>.</p>
                                        <p>Our team also used <b>Random Forests</b>, a flexible machine learning model was implemented for classification. <br>
                                            Some accuracy metrics we achieved include an <b>ROC AUC of 0.84</b> and a <b>PR AUC of 0.63</b>. </p>
                                        <p>Our hack also uses <b>Logistic Regression</b>, a statistical model was used to analyze the dataset carefully and perform binary classification. <br>
                                            Some accuracy metrics we achieved include an <b>ROC AUC of 0.68</b> and <b>PR AUC of 0.29</b>.</p>
                                            
                                    </section>
                                    
                                    <section>
                                            <h3 class="major">Results of Running These Algorithms</h3>
                                            <h3><b>Receiver Operating Characteristics</b></h3>
                                                <div class="col-12"><span class="image fit"><img src="../data_imgs/ROC.png" alt=""/></span></div>
                                            <h3><b>Precision Recall</b></h3>
                                                <div class="col-12"><span class="image fit"><img src="../data_imgs/PR.png" alt=""/></span></div>
                                            <h3><b>Featured Importances</b></h3>
                                                <div class="col-12"><span class="image fit"><img src="../data_imgs/FeatureImportances.png" alt=""/></span></div>
                                            

                                        </section>

                                        <div style="text-align: center;">
                                                <a href="statistics.html" class="button large">Learn About Opiod Statistics</a>
                                        </div>
								</div>
                            </div>
                            
                            

					</section>


			</div>

		<!-- Scripts -->
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/jquery.scrollex.min.js"></script>
		<script src="../assets/js/browser.min.js"></script>
		<script src="../assets/js/breakpoints.min.js"></script>
		<script src="../assets/js/util.js"></script>
		<script src="../assets/js/main.js"></script>

</body>
</html>