<html>
	<head>
		<title>Technica 2018</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>


	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt" style="background-color:#00000067">
						<b><a href="http://gotechnica.org">TECHNICA 2018</a></b>
						<b>&nbsp;&nbsp;&nbsp;<a href="about.html">ABOUT</a></b>
						<b>&nbsp;&nbsp;&nbsp;<a href="team.html">TEAM</a></b>
						<nav>
							<a href="index.html">Logout</a>
						</nav>
					</header>

				<!-- Menu -->

					<nav id="menu">
						<div class="inner">
							<h2>Join Us</h2>
							<ul class="links">
								<li><a href="login.html">Log In</a></li>
								<li><a href="register.html">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
                    </nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>OPIOD STATISTICAL ANALYSIS</h2>
								<p>Visualization of opioid prescription rates</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									<section>
										<h3 class="major">BRIEF SUMMARY</h3>
                                        <p>Other aspects of preventable diseases are misuse, addiction, and the overdose of drugs and in this particular case, opioids. One of our pilot studies is starting off examining opioid prescription data. From 2014-2017, opioid use has remained consistent across all states.
										Future diseases will be showcased in the near future. Additionally, the team at Health Matters is dedicated to linking together the environmental, genetic, and demographic factors that come to play in not just opioid addiction but in other diseases as well.</p>
                                    </section>
                                    
                                    <section>
                                            <h3 class="major">Results of Running These Algorithms</h3>
											<p>We used the <b>Visionera dataset</b> to compare prescription drug overuse rates versus the states. </p>
												<div class="col-12"><span class="image fit"><img src="../images/visionist.jpg" alt=""/></span></div>
											<p>We then visualized this data in the graph below:</p>
                                                <div class="col-12"><span class="image fit"><img src="../data_imgs/PrescriptionRates.png" alt=""/></span></div>
                                        </section>
								</div>
                            </div>
                            
                            

					</section>


			</div>

		<!-- Scripts -->
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/jquery.scrollex.min.js"></script>
		<script src="../assets/js/browser.min.js"></script>
		<script src="../assets/js/breakpoints.min.js"></script>
		<script src="../assets/js/util.js"></script>
		<script src="../assets/js/main.js"></script>

</body>
</html>