<html>
	<head>
		<title>Technica 2018</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>


	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                <header id="header" class="alt" style="background-color:#00000067">
						<b><a href="http://gotechnica.org">TECHNICA 2018</a></b>
						<b>&nbsp;&nbsp;&nbsp;<a href="about.html">ABOUT</a></b>
						<b>&nbsp;&nbsp;&nbsp;<a href="team.html">TEAM</a></b>
						<nav>
							<a href="#menu">Join Us</a>
						</nav>
					</header>

				<!-- Menu -->

					<nav id="menu">
						<div class="inner">
							<h2>Join Us</h2>
							<ul class="links">
								<li><a href="login.html">Log In</a></li>
								<li><a href="register.html">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>THE TEAM AT HEALTH MATTERS</h2>
								<p>Madhu Sivaraj, Roshni Biswas, Diana Nguyen, Avni Garg</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									<h3 class="major">THE TEAM</h3>
									
									<section class="features">
										<article>
											<a href="#" class="image"><img src="../images/team_imgs/madhu.jpg" alt=" " /></a>
											<h3 class="major">Madhu Sivaraj</h3>
											<p> <b>Age: </b>18<br>
                                                <b>Email: </b><a href="mailto:madhu.sivaraj@rutgers.edu">madhu.sivaraj@rutgers.edu</a><br>
                                                <b>GitHub: </b><a href=”https://github.com/madhusivaraj”>@madhusivaraj</a></p>      
                                            </p>
										</article>
										<article>
											<a href="#" class="image"><img src="../images/team_imgs/roshni.jpg" alt="" /></a>
											<h3 class="major">Roshni Biswas</h3>
											<p><b>Age: </b>22<br>
                                                <b>Email: </b><a href="mailto:roshni.inexplicable@gmail.com">roshni.inexplicable@gmail.com</a><br>
                                                <b>GitHub: </b><a href=”https://github.com/roshni-b”>@roshni-b</a></p>                                                
                                        </article>
                                        <article>
                                                <a href="#" class="image"><img src="../images/team_imgs/diana.jpg" alt="" /></a>
                                                <h3 class="major">Diana Nguyen</h3>
                                                <p><b>Age: </b>23<br>
                                                    <b>Email: </b><a href="mailto:dnguyen1093@gmail.com">dnguyen1093@gmail.com</a><br>
                                                    <b>GitHub: </b><a href=”https://github.com/dnguye2”>@dnguye2</a></p>                                                    
                                            </article>
                                            <article>
                                                <a href="#" class="image"><img src="../images/team_imgs/avni.jpg" alt="" /></a>
                                                <h3 class="major">Avni Garg</h3>
                                                <p> <b>Age: </b> 18<br>
                                                    <b>Email: </b><a href="mailto:avonstar21@gmail.com"> avonstar21@gmail.com</a><br>
                                                    <b>GitHub: </b><a href=”http://www.github.com/avonstar21”> @avonstar21</a>
                                                </p>
                                                    
                                            </article>
									</section>

								</div>
							</div>

					</section>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>
